@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Marhey:wght@300..700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Exo 2', sans-serif;
}

body {
	background: #f8e2cb;
}

.main-section {
	height: 100vh;
	background: url('./assets/bg.avif') center/cover no-repeat;
	text-align: center;
	padding: 150px 300px 0;
}

.main-section h1 {
	color: #d3b498;
	font-family: 'Marhey', sans-serif;
	font-size: 46px;
}

.main-section h2 {
	font-family: 'Marhey', sans-serif;
	color: white;
	font-size: 36px;
}

.main-section p {
	color: white;
	margin-top: 50px;

	i {
		color: #5a4735;
		text-shadow: 3px 3px 20px #fff;
	}
}

.main-section button {
	border-radius: 10px;
	padding: 10px 30px;
	color: white;
	background: #5a4735;
	box-shadow: 0 0 5px 0px #fff;
	border: none;
	margin-top: 40px;
	cursor: pointer;
}

.poison-section {
	padding: 30px 50px;
	text-align: center;

	h2 {
		color: #5a4735;
		text-shadow: 0 0 5px black;
		font-family: 'Marhey', sans-serif;
		font-size: 30px;
	}

	p {
		text-align: left;
	}
	
	img {
		margin-top: 30px;
		width: 60%;
		min-width: 300px;
	}
}

.leather-section {
	padding: 30px 50px;
	text-align: center;

	h2 {
		color: #5a4735;
		text-shadow: 0 0 5px black;
		font-family: 'Marhey', sans-serif;
		font-size: 30px;
	}

	p,
	h4 {
		text-align: left;
	}

	img {
		width: 60%;
		min-width: 300px;
		margin-top: 30px;
	}
}
